# Environment variables
.env

# archives
*\.7z
*\.zip
*\.rar

# Run time folders
logs/
tmp/
state/

# Pycharm Files
*\.iml
\.idea
venv/

# External executables
*\.exe

# We only include default templates
config/templates/*
!config/templates/default/
!config/templates/default/**
